/* regole di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 10px;
}


/* regole sezione centrale */
section {
  display: flex;
  justify-content: flex-start;
}


/* regole menu sinistra Spotify */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #000000;
  width: 220px;
  height: calc(100vh - 100px);
  padding: 20px 20px 5px 20px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 15%;
  filter: invert(100%);
}

.logo span {
  align-self: center;
  font-size: 22px;
  color: white;
  padding-left: 5px;
}

#trademark {
  margin-left: -8px;
  transform: scale(0.4);
}

.list {
  display: flex;
  border-left: 2px solid #000000;
  padding-bottom: 5px;
}

.list span {
  align-self: center;
}

.home a {
  color: #a3a3a3;
  font-size: 14px;
}

.home a:hover {
  color: white;
}

.home img {
  width: 18%;
  margin-right: 10px;
  margin-bottom: 5px;
}

.list:hover {
  border-left: 2px solid #5b7837;
}


/* regole playlist */
.playlist {
  color: #a3a3a3;
  overflow: auto;
}

.playlist h4 {
  padding-bottom: 5px;
}

.plus {
  display: flex;
}

.playlist img {
  width: 18%;
  margin-right: 10px;
  margin-bottom: 5px;
  filter: invert(60%);
}

.playlist img:hover {
  filter: invert(100%);
  cursor: pointer;
}

.playlist span {
  align-self: center;
  font-size: 15px;
}

.playlist span:hover {
  color: white;
  cursor: pointer;
}

.playlist li:hover {
  color: white;
  cursor: pointer;
}


/* regole app e autore del brano */
.download {
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0;
}

.artist {
  padding: 10px 0;

}

.download img {
  width: 10%;
  margin-right: 5px;
  margin-left: -5px;
  margin-bottom: -5px;
}

.download img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.download h5 {
  display: inline-block;
  font-size: 16px;
  color: #a3a3a3;
}

.download h5:hover {
  color: white;
  cursor: pointer;
}

.artist img {
  width: 8%;
  margin-right: 5px;
}

.artist img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.artist h5 {
  display: inline-block;
  font-size: 16px;
  color: #a3a3a3;
}

.artist h5:hover {
  color: white;
  cursor: pointer;
}


/* regole blocco centrale */
.section-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 6;
  overflow: auto;
  background-color: #141922;
  height: calc(100vh - 100px);
}


/* regole Upgrade */
.upgrade {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #080b12;
  opacity: 0.6;
  height: 100px;
  width: calc(100% - 220px);
  padding-right: 5px;
}

.button {
  align-self: center;
}

.button h5 {
  color: white;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
  padding: 10px 30px;
}

.button h5:hover {
  cursor: pointer;
  border-color: white;
  transform: scale(1.03);
}


/* regole menu navbar */
.navbar {
  display: flex;
}

.navbar li {
  height: 35px;
  color: #a3a3a3;
  display: inline-block;
  margin-right: 15px;
}

.navbar li:hover {
  color: white;
  border-bottom: 2px solid #5b7837;
}

.list-navbar {
  display: flex;
  flex-grow: 5;
  justify-content: center;
  height: 210px;
  align-items: flex-end;
  padding-bottom: 50px;

}


/* regole Recently played */
.main-block{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-block h3 {
  color: white;
  margin-bottom: 20px;
}

.block-album {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.album {
  position: relative;
  flex-basis: calc(100% / 6);
}

.album img {
  display: block;
  width: 75%;
  margin: auto;
}

.overlay-play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
}

#back-play {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 32%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
}

.album:hover {
  cursor: pointer;
  opacity: 0.7;
}

.album:hover .overlay-play {
  opacity: 1;
}

.album h4 {
  color: white;
  text-align: center;
}

.album h6 {
  color: #a3a3a3;
  text-align: center;
}


/* regole sezione creato per John Doe */
#title-john {
  color: white;
  margin-bottom: 5px;
}

#subtitle-john {
  color: #a3a3a3;
  margin-bottom: 20px;
}

.sez-john {
  display: flex;
  flex-direction: column;
}

.block-john {
  display: flex;
  margin-bottom: 30px;
}

.album-john {
  position: relative;
  flex-basis: 16.5%;
}

.album-john:hover {
  cursor: pointer;
  opacity: 0.7;
}

.album-john:hover .overlay-play {
  opacity: 1;
}

.album-john img {
  display: block;
  width: 75%;
  margin: 10px auto;
}

.album-john h4 {
  color: white;
  text-align: center;
}


/* regole Artisti più popolari */
.sez-artist {
  display: flex;
  flex-direction: column;
}

.sez-artist h3 {
  color: white;
  margin-bottom: 5px;
}

.sez-artist h6 {
  color: #a3a3a3;
  margin-bottom: 20px;
}

.block-artist {
  display: flex;
  margin-bottom: 30px;
}

.album-popular {
  position: relative;
  flex-basis: 16.5%;
}

.album-popular:hover {
  cursor: pointer;
  opacity: 0.7;
}

.album-popular:hover .overlay-play {
  opacity: 1;
}

.album-popular img {
  display: block;
  width: 75%;
  margin: 10px auto;
  border-radius: 50%;
}

.album-popular h4 {
  color: white;
  text-align: center;
}


/* regole sezione player */
footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #282828;
  height: 100px;
}


/* regole blocco di sinstra */
.sector-left {
  display: flex;
  align-items: center;
  width: 220px;
  height: auto;
}

.sector-left img {
  margin-right: 15px;
  width: 25%;
}

#folder-heart {
  width: 10%;
  filter: invert(55%);
}

#folder-heart:hover {
  filter: invert(100%);
  cursor: pointer;
  transform: scale(1.2);
}

.title-sub {
  display: flex;
  flex-direction: column;
}

.title-sub h6:nth-child(1) {
  color: white;
}

.title-sub h6:nth-child(2) {
  margin-right: 30px;
  color: #a3a3a3;
}

.title-sub h6:nth-child(2):hover {
  color: white;
  cursor: pointer;
}


/* regole blocco centrale */
.sector-center {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
}

.player {
  display: flex;
  justify-content: center;
  flex-grow: 10;
}

.player img {
  margin-right: 30px;
  width: 3%;
  filter: invert(100%);
}

.player img:nth-child(5) {
  margin-right: 0;
}

.player img:hover {
  cursor: pointer;
  filter: invert(60%);
  transform: scale(1.2);
}

.player img:nth-child(3):hover {
  transform: scale(1.5);
}

.playbar {
  display: flex;
  justify-content: center;
  flex-grow: 10;
}

.temp {
  color: white;
  font-size: 12px;
}

.scroll-bar {
  position: relative;
  margin: 6px 15px 0 15px;
  width: 70%;
  height: 4px;
  background-color: #a3a3a3;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-bar2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 20%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.scroll-bar:hover .scroll-bar2 {
  background-color: #5b7837;
}


/* regole blocco di destra */
.sector-right {
  display: flex;
  align-items: center;
  width: 220px;
  height: auto;
}

.sector-right img {
  width: 8%;
  margin-right: 20px;
  filter: invert(100%);
}

.sector-right img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.sector-right img:nth-child(3) {
  margin-right: 5px;
}

.volume {
  position: relative;
  margin: 0 0 0 15px;
  width: 48%;
  height: 4px;
  background-color: #a3a3a3;
  border-radius: 10px;
  cursor: pointer;
}

.volume-2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 50%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.volume:hover .volume-2 {
  background-color: #5b7837;
}



/* MEDIA QUERY */
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Sezione menu navbar */
  .list-navbar ul {
    flex-basis: 80%;
    flex-wrap: wrap;
  }

  /* sezione Recently played */
  .album {
    margin-bottom: 20px;
    flex-basis: calc(100% / 4);
  }


  /* Sezione Creato per John Doe */
  .album-john {
    flex-basis: 25%;
  }


  /* Sezione Artisti più popolari */
  .album-popular {
    flex-basis: 25%;
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  /* Sezione menu navbar */
  .list-navbar ul {
    flex-basis: 65%;
    flex-wrap: wrap;
  }


  /* sezione Recently played */
  .album {
    margin-bottom: 20px;
    flex-basis: calc(100% / 2);
  }


  /* Sezione Creato per John Doe */
  .album-john {
    flex-basis: 50%;
  }


  /* Sezione Artisti più popolari */
  .album-popular {
    flex-basis: 50%;
  }


  /* Sezione player blocco sinistra */
  .title-sub h6:nth-child(2) {
    margin-right: 25px;
  }

  #folder-heart {
    margin-right: 8px;
    width: 10%;
  }


  /* Sezione player blocco centrale */
  .player img {
    margin-right: 18px;
    width: 4.2%;
  }

  .scroll-bar {
    width: 55%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575px) {
  /* regole Upgrade */
  .upgrade {
    width: calc(100% - 60px);
  }


  /* Sezione menu navbar */
  .list-navbar ul {
    flex-basis: 80%;
    flex-wrap: wrap;
  }


  /* sezione Recently played */
  .album {
    margin-bottom: 20px;
    flex-basis: calc(100% / 2);
  }


  /* Sezione Creato per John Doe */
  .album-john {
    flex-basis: 50%;
  }


  /* Sezione Artisti più popolari */
  .album-popular {
    flex-basis: 50%;
  }


  /* Menù di sinistra */
  .menu {
    width: 60px;
    padding: 5px 0;
  }

  .logo img {
    display: block;
    width: 70%;
    margin: auto;
  }

  .home img {
    display: block;
    width: 70%;
    margin: 0 auto 10px auto;
  }

  .logo span {
    display: none;
  }

  #trademark {
    display: none;
  }

  .list span {
    display: none;
  }

  .playlist h4 {
    display: none;
  }

  .playlist img {
    display: block;
    width: 70%;
    margin: auto;
  }

  .playlist span {
    display: none;
  }

  .playlist ul {
    display: none;
  }


  /* Installa app e autore del brano */
  .download {
    border-bottom: none;
    padding: 5px 0;
  }

  .download img {
    display: block;
    width: 70%;
    margin-left: 5px;
    margin-bottom: 0;

  }

  .download h5 {
    display: none;
  }

  .artist h5 {
    display: none;
  }

  .artist img {
    display: block;
    width: 70%;
    margin: auto;
  }


  /* Sezione player blocco di sinistra */
  .sector-left img {
    margin-right: 5px;
  }

  .title-sub h6:nth-child(2) {
    margin-right: 20px;
  }

  #folder-heart {
    margin-right: 6px;
    width: 12%;
  }


  /* Sezione player blocco centrale */
  .player img {
    margin-right: 15px;
    width: 6%;
  }

  .scroll-bar {
    margin: 6px 10px 0 10px;
    width: 55%;
    height: 4px;
    background-color: #a3a3a3;
    border-radius: 10px;
  }



  /* Sezione player blocco di destra */
  .sector-right img {
    margin-right: 10px;
    width: 12%;
  }

  .sector-right img:nth-child(3) {
    margin-right: 0px;
  }

  .volume {
    margin: 0 0 0 10px;
  }
}
