/* regole di base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 10px;
}


/* regole sezione centrale */
section {
  display: flex;
  justify-content: flex-start;
}


/* regole menu sinistra Spotify */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  width: 300px;
  height: calc(100vh - 120px);
  padding: 20px 20px 5px 20px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 15%;
  filter: invert(100%);
}

.logo span {
  align-self: center;
  font-size: 22px;
  color: white;
  padding: 0 5px;
}

.list {
  padding-bottom: 5px;
}

.home a {
  color: #a3a3a3;
  font-size: 14px;
}

.home img {
  width: 12%;
}


/* regole playlist */
.playlist {
  color: #a3a3a3;
  overflow: auto;
}

.playlist h4 {
  padding-bottom: 5px;
}

.playlist h4:nth-child(2) {
  padding-bottom: 20px;
}


/* regole app e autore del brano */
.download {
  border-bottom: 1px solid #a3a3a3;
  padding: 5px 0;
}

.artist {
  padding: 10px 0;

}


.download img {
  width: 10%;
  margin-right: 5px;
  margin-left: -5px;
  margin-bottom: -5px;
}

.download h5 {
  display: inline-block;
  font-size: 16px;
  color: #a3a3a3;
}

.artist img {
  width: 8%;
  margin-right: 5px;
}

.artist h5 {
  display: inline-block;
  font-size: 16px;
  color: #a3a3a3;
}




/* regole blocco centrale */
.section-center {
  display: flex;
  overflow: auto;
  background-color: #141922;
  height: calc(100vh - 120px);
  width: 100%;
}


/* regole Upgrade */
.upgrade {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  background-color: #080b12;
  opacity: 0.6;
  height: 100px;
  width: calc(100% - 300px);
  padding:0 5px 0 0;
}

.button {
  align-self: center;
}

.button h5 {
  color: white;
  border: 1px solid #a3a3a3;
  border-radius: 20px;
  padding: 10px 30px;
}


/* regole menu navbar */



/* regole sezione player */
footer {
  /* display: flex; */
  background-color: #282828;
  height: 120px;
}
